  body{text-align:left; 
    font-size: large; 
    font-family:Arial,Helvetica,sans-serif;
    margin:30px;
    margin-left: 8%;
    margin-right: 8%;
    background:#ffffff;
    align-content: center;
}

  b{color:#007bff;}

#pranayaam .heading {
    font-weight: bolder;
    text-align: center;
    color: #007bff;
    font-size: larger;
}

.h2 .heading {
    font-weight: bolder;
    text-align: center;
    color: #007bff;
    font-size: xx-large;
}