
  body{text-align:left; 
    font-size: large; 
    font-family:Arial,Helvetica,sans-serif;
    margin:30px;
    margin-left: 8%;
    margin-right: 8%;
    background:#ffffff;
    align-content: center;
}

  b{color:#007bff;}

#pranayaam .heading {
    font-weight: bolder;
    text-align: center;
    color: #007bff;
    font-size: larger;
}

 .heading {
    font-weight: bolder;
    text-align: center;
    color: #007bff;
    font-size: larger;
}

.viniyog {
    color: #0020d3;
    font-style: italic;
}

.mantra {
  font-family: 'mSanskritText';
    color: #d3006b;
    font-style: normal;
    font-size: larger;
}